{% extends 'base.html' %}

{% block content %}

<h2>Se connecter Ici</h2>

{% for message in messages %}

<strong>{{ message }}<strong>

{% endfor %}


<form method="post" action= "{% url 'connect' %}">
    {% csrf_token %}
    <label for="username">Pseudo</label>
    <input type="text" name="username" id="username" placeholder="Entrer Your Pseudo" required>
    <br>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Entrer Your Password" required>
    <br>
    <br>
    <button type="submit">Se connecter</button>

</form>
{% endblock %}
