{% extends 'base.html' %}

{% block content %}

{% for message in messages %}
  <strong>{{ message }}</strong>
{% endfor %}

<div class="login-page">
    <div class="form">
      <form class="register-form" method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <h2>Register</h2>
        <input type="text" name="username" id="username" placeholder="User" required/>
        <input type="email" name="email" id="email" placeholder="Email *" required/>
        <input type="password" name="password" id="password" placeholder="Password *" required/>
        <input type="password1" name="password1" id="password1" placeholder="Confirm Password *" required/>
        <a class="btn" href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <button type="submit">Create</button>
        </a>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form" method="post">
        {% csrf_token %}
        <h2></i> Login</h2>
        <input type="text" name="username" id="username" placeholder="Username" required />
        <input type="password" name="password" id="password" placeholder="Password" required/>
        <a class="btn" href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <button type="submit">Sign in</button>
        </a>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>$('.message a').click(function(){
    $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
 });
</script>

{% endblock %}
