<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TCP Gaming</title>
    <link rel="stylesheet" href="/src/tcp_gaming/static/css/index.css">
    <link rel="icon" href="/src/tcp_gaming/static/css/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="top">
        <div class="menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="hour">
            <h3>Date du jour</h3>
        </div>
        <div class="title">
            <h1>TCP GAMING</h1>
        </div>

        <div class="auth">
            <a href="/src/login/templates/login/index.html">
                <button>Se connecter</button>
            </a>
        </div>
    </div>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/src/tcp_gaming/templates/tcp_gaming/index.html">Accueil</a></li>
            <li><a href="/src/tcp_gaming/templates/tcp_gaming/tournoi.html">Tournoi</a></li>
            <li><a href="/src/tcp_gaming/templates/tcp_gaming/concours.html">Concours</a></li>
            <li><a href="/src/tcp_gaming/templates/tcp_gaming/photo.html">Sérénithéière</a></li>
            <li><a href="/src/tcp_gaming/templates/tcp_gaming/autres.html">Autres activités</a></li>
        </ul>
    </nav>

        <div class="date-section">
            <h2>Nous sommes le </h2>
        </div>
    <div class="cellule-tchat">
            <iframe src="/src/tcp_gaming/templates/tcp_gaming/tchat_home.html" width="200%" height="800px" frameborder="0" style="border:none;"></iframe>
    </div>
</body>
</html>