{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TCP Gaming</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="top">
        <div class="menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="hour">
            <h3> {{ date|date:"H\hi" }} </h3>
        </div>
        <div class="title">
            <h1>TCP GAMING</h1>
        </div>

        <div class="auth">
            <button>Sign In</button>
            <button>Sign Up</button>
        </div>
    </div>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="tournoi.html">Tournoi</a></li>
            <li><a href="concours.html">Concours</a></li>
            <li><a href="photo.html">Sérénithéière</a></li>
            <li><a href="autres.html">Autres activités</a></li>
        </ul>
    </nav>

        <div class="date-section">
            <h2>Nous sommes le {{ date|date:"d F Y " }}</h2>
        </div>
</body>
</html>

