{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament Bracket</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="bracket">
        <!-- Round 1 -->
        <div class="round">
            <div class="match">
                <div class="player"></div>
                <div class="player"></div>
            </div>
            <div class="match">
                <div class="player"></div>
                <div class="player"></div>
            </div>
            <div class="match">
                <div class="player"></div>
                <div class="player"></div>
            </div>
            <div class="match">
                <div class="player"></div>
                <div class="player"></div>
            </div>
            <div class="match">
                <div class="player"></div>
                <div class="player"></div>
            </div>
            <div class="match">
                <div class="player"></div>
                <div class="player"></div>
            </div>
            <div class="match">
                <div class="player"></div>
                <div class="player"></div>
            </div>
            <div class="match">
                <div class="player"></div>
                <div class="player"></div>
            </div>
        </div>

        <!-- Round 2 -->
        <div class="round2">
            <div class="match">
                <div class="player"></div>
                <div class="player"></div>
            </div>
            <div class="match">
                <div class="player"></div>
                <div class="player"></div>
            </div>
            <div class="match">
                <div class="player"></div>
                <div class="player"></div>
            </div>
            <div class="match">
                <div class="player"></div>
                <div class="player"></div>
            </div>
        </div>

        <!-- Semifinals -->
        <div class="round3">
            <div class="match">
                <div class="player"></div>
                <div class="player"></div>
            </div>
            <div class="match">
                <div class="player"></div>
                <div class="player"></div>
            </div>
        </div>

        <!-- Finals and Bronze Match -->
        <div class="final">
            <!-- Finals -->
            <div class="match">
                <div class="player"></div>
                <div class="player"></div>
            </div>
        </div>
    </div>
</body>
</html>



