{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament Bracket</title>
    <link rel="stylesheet" href="{% static 'css/menu-bracket.css' %}">
</head>
<body>
    <h1 class="title">Tournament Bracket:</h1>
    <div>
        <a href="http://127.0.0.1:8000/api/list-tournois/">
            <button class="tournament-button">Single Tournament</button>
        </a>

        <div class="tournament-info" id="result">Chargement en cours...</div>
        
        <a href="menu-double.html"> 
            <button class="tournament-button">Double Tournament</button>
        </a>    
        <div class="tournament-info" id="double-result">Chargement en cours...</div>
    </div>

    <div class="tournoi-total">
        <div class="tournament-info" id="nombre-tournois">Chargement en cours...</div>
    </div>

    <script src="{% static 'js/menu-bracket.js' %}"></script>
</body>
</html>
