{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single tournament</title>
    <link rel="stylesheet" href="{% static 'css/menu-single.css' %}">
</head>
<body>
    <h1 class="title">Single tournament</h1>
    <ul class="tournois">
        {% for tournoi in tournois %}
            <li>
                <span>{{ tournoi.nom }} - {{ tournoi.date }}</span>
                <!-- Bouton pour accéder à la page du tournoi -->
                <button class="join-btn" data-id="{{ tournoi.id }}" data-name="{{ tournoi.nom }}">Accéder au Model Bracket</button>
            </li>
        {% endfor %}
    </ul>

    <script src="{% static 'js/menu-single.js' %}"></script>

</body>
</html>
