{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament Bracket</title>
    <link rel="stylesheet" href="{% static 'css/model-bracket.css' %}">
</head>

<body>
    <div class="bracket">
        <!-- Round 1 -->
        <div class="round">
            <div class="match">
                <div class="player" id="player1"></div>
                <div class="player" id="player2"></div>
            </div>
            <div class="match">
                <div class="player" id="player3"></div>
                <div class="player" id="player4"></div>
            </div>
            <div class="match">
                <div class="player" id="player5"></div>
                <div class="player" id="player6"></div>
            </div>
            <div class="match">
                <div class="player" id="player7"></div>
                <div class="player" id="player8"></div>
            </div>
        </div>

       
        <button id="createParticipantBtn" class="create-participant-button">rejoindre le tournoi</button>

       
       <div id="results" class="results"></div>
       <div id="participantsList"></div>

        <div class="demi-final">
            <!-- Demi-final -->
            <div class="match">
                <div class="player" id="player"></div>
                <div class="player" id="player"></div>
            </div>
            <div class="match">
                <div class="player" id="player"></div>
                <div class="player" id="player"></div>
            </div>

        </div>

        <div class="final">
            <!-- Finals -->
            <div class="match">
                <div class="player" id="player"></div>
                <div class="player" id="player"></div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/model-bracket.js' %}"></script>
</body>
</html>






