{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament Bracket</title>
    <link rel="stylesheet" href="{% static 'css/model-bracket.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <div class="bracket">
        <!-- Round 1 -->
            <div class="round">
                <div class="match">
                    <div class="player-score-container">
                        <div class="player" id="player1"></div>
                        <div class="score" id="score1">V</div>
                    </div>
                    <div class="player-score-container">
                        <div class="player" id="player2"></div>
                        <div class="score" id="score2">D</div>
                    </div>
                    </div>
                <div class="match">
                    <div class="player-score-container">
                        <div class="player" id="player3"></div>
                        <div class="score" id="score3">D</div>
                    </div>
                    <div class="player-score-container">
                        <div class="player" id="player4"></div>
                        <div class="score" id="score4">V</div>
                    </div>
                </div>
                <div class="match">
                    <div class="player-score-container">
                        <div class="player" id="player5"></div>
                        <div class="score" id="score5">D</div>
                    </div>
                    <div class="player-score-container">
                        <div class="player" id="player6"></div>
                        <div class="score" id="score6">V</div>
                    </div>
                </div>
                <div class="match">
                    <div class="player-score-container">
                        <div class="player" id="player7"></div>
                        <div class="score" id="score7">D</div>
                    </div>
                    <div class="player-score-container">
                        <div class="player" id="player8"></div>
                        <div class="score" id="score8"></div>
                    </div>
                </div>
            </div>

       
        <button id="createParticipantBtn" class="create-participant-button">rejoindre le tournoi</button>

       
       <div id="results" class="results"></div>
       <div id="participantsList"></div>

        <div class="demi-final">
            <!-- Demi-final -->
            <div class="match">
                <div class="player-score-container">
                    <div class="player" id="player9">ShadowBlade</div>
                    <div class="score" id="score9">V</div>
                </div>
                <div class="player-score-container">
                    <div class="player" id="player10">InfernoX</div>
                    <div class="score" id="score10">D</div>
                </div>
                
            </div>
            <div class="match">
                <div class="player-score-container">
                    <div class="player" id="player11">GalacticWanderer</div>
                    <div class="score" id="score11">D</div>
                </div>
                <div class="player-score-container">
                    <div class="player" id="player12">grems</div>
                    <div class="score" id="score12">V</div>
                </div>
                
            </div>

        </div>

        <div class="final">
            <!-- Finals -->
            <div class="match">
                <div class="player-score-container">
                <div class="player" id="player13">InfernoX</div>
                <div class="score" id="score13">D</div>
            </div>
            <div class="player-score-container">
                <div class="player" id="player14">grems</div>
                <div class="score" id="score14">V</div>
            </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/model-bracket.js' %}"></script>
    <button class="back-button">
        <a href="http://127.0.0.1:8000/api/list-tournois/">
          <i class="fas fa-arrow-left"></i> Retour
        </a>
      </button>
    <h2 class="title-score">give your score:</h2>
    <button class="victoire" onclick="updateScore()">victory</button>
    <button class="defaite" onclick="scoredefeat()">défeat</button>
    <div class="vertical-line1"></div>
    <div class="vertical-line2"></div>
    <div class="horizontal-line1"></div>
    <div class="horizontal-line2"></div>
    <div class="horizontal-line3"></div>
    <div class="horizontal-line4"></div>
    <div class="horizontal-line5"></div>
    <div class="horizontal-line6"></div>
    <div class="vertical-line3"></div>
    <div class="horizontal-line7"></div>
    <div class="horizontal-line8"></div>
    <div class="horizontal-line9"></div>




</body>
</html>






